[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-generativeai = "*"
requests = "*"
beautifulsoup4 = "*"
playwright = "*"
flask-cors = "*"
gunicorn = "*"
ollama = "*"
flasgger = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
psycopg2-binary = "*"
werkzeug = "*"
flask = "*"
pgvector = "*"
sqlalchemy = "*"
sentence-transformers = "*"
fastembed = "*"

[dev-packages]

[requires]
python_version = "3.10"
